# MASTER - Notebook 1 - Only temporal Cleaning
### Matteo Grazioso 884055

In [10]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import warnings
warnings.filterwarnings('ignore')

import myfunctions as mf # Custom functions

In [11]:
# Disply all columns and all rows
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
# Find all txt files in the data folder
txt_files = mf.find_txt_files("data/raw")

# Choose a dataset from the list of txt files
selected_dataset = mf.choose_dataset(txt_files)

if selected_dataset:
    print(f"You selected the dataset {selected_dataset}")
else:
    print("No dataset selected.")

path  = selected_dataset

The following TXT files were found:
1. data/raw/0-export.txt
2. data/raw/1-validazioni.txt
3. data/raw/2-esportazioneCompleta.txt
4. data/raw/3-esportazionePasqua23.txt
You selected the dataset data/raw/0-export.txt

In [13]:
# The file contain the data of the validation of tickets in the city of public transport of Venice.

# Import the data into a dataframe of a txt file 
# path = 'data/raw/1-validazioni.txt'                     # Period: 2022-05-13 to 2022-07-15
# path = 'data/raw/2-esportazioneCompleta.txt'            # Period: 2023-01-23 to 2023-03-14
# path = 'data/raw/3-esportazionePasqua23.txt'            # Period: 2023-04-04 to 2023-06-03

df = pd.read_csv(path, header=0, sep='\t')
# Save the name of the file in a variable for future use extracting the name of the file from the path
file_name = path.split('/')[-1].split('.')[0]
# Remove the number and the - character from the head of the file name
file_name = file_name [file_name.find('-')+1:]

In [14]:
file_name

'export'

In [15]:
# Check the first 5 rows of the data
df.head()

,DATA_VALIDAZIONE,SERIALE,FERMATA,DESCRIZIONE,TITOLO,DESCRIZIONE_TITOLO
0,11/09/2018 00:01,65676329393943813,1392,Santa Chiara,12101,Bigl.Aut.75'Mestre/Lido-tsc
1,11/09/2018 00:01,36412970881802500,5003,Lido (S.M.E.,11109,Biglietto 72 ore Roll. Venice
2,11/09/2018 00:01,36412970881806084,5003,Lido (S.M.E.,11107,"48h-Tpl 24,90-ComVe5,10"
3,11/09/2018 00:01,36412970881805828,5003,Lido (S.M.E.,11107,"48h-Tpl 24,90-ComVe5,10"
4,11/09/2018 00:01,65676744198028549,5013,S. Zaccaria,11107,"48h-Tpl 24,90-ComVe5,10"

In [16]:
# Check the last 5 rows of the data
df.tail()

,DATA_VALIDAZIONE,SERIALE,FERMATA,DESCRIZIONE,TITOLO,DESCRIZIONE_TITOLO
4876773,11/11/2018 23:56,36120397166597124,5038,"Rialto ""D""",11149,"7gg-Tpl 43,60-ComVe16,40"
4876774,11/11/2018 23:59,65676690164248581,5049,Zattere SX,11109,Biglietto 72 ore Roll. Venice
4876775,12/11/2018 00:53,36088796950622980,510,CORSIA A5,200,bordo multip BUS urb. autisti
4876776,12/11/2018 00:53,36088796950754052,510,CORSIA A5,200,bordo multip BUS urb. autisti
4876777,12/11/2018 02:48,36088796951081732,510,CORSIA A5,200,bordo multip BUS urb. autisti

In [17]:
# Create a subset of the data with the first 10% of the rows and the last 10% of the rows
# df = df.iloc[:int(len(df)*0.1),:]
# df = df.append(df.iloc[-int(len(df)*0.1):,:])

## Explorative Data Analysis

In [18]:
# Dates and hour of the validation of the ticket are in the same column 'DATA_VALIDAZIONE'
# Split the column 'DATA_VALIDAZIONE' into two columns 'DATA' and 'ORA' and convert them to datetime format
df.insert(0, 'DATA', pd.to_datetime(df['DATA_VALIDAZIONE'].str.split(' ').str[0], format='%d/%m/%Y'))
df.insert(1, 'ORA', pd.to_datetime(df['DATA_VALIDAZIONE'].str.split(' ').str[1], format='%H:%M').dt.time)

# Drop the column 'DATA_VALIDAZIONE'
# df.drop('DATA_VALIDAZIONE', axis=1, inplace=True)

# Display the first 5 rows of the dataframe
df.head()

,DATA,ORA,DATA_VALIDAZIONE,SERIALE,FERMATA,DESCRIZIONE,TITOLO,DESCRIZIONE_TITOLO
0,2018-09-11,00:01:00,11/09/2018 00:01,65676329393943813,1392,Santa Chiara,12101,Bigl.Aut.75'Mestre/Lido-tsc
1,2018-09-11,00:01:00,11/09/2018 00:01,36412970881802500,5003,Lido (S.M.E.,11109,Biglietto 72 ore Roll. Venice
2,2018-09-11,00:01:00,11/09/2018 00:01,36412970881806084,5003,Lido (S.M.E.,11107,"48h-Tpl 24,90-ComVe5,10"
3,2018-09-11,00:01:00,11/09/2018 00:01,36412970881805828,5003,Lido (S.M.E.,11107,"48h-Tpl 24,90-ComVe5,10"
4,2018-09-11,00:01:00,11/09/2018 00:01,65676744198028549,5013,S. Zaccaria,11107,"48h-Tpl 24,90-ComVe5,10"

In [19]:
# Set the format of the timestamp
df['DATA_VALIDAZIONE'] = pd.to_datetime(df['DATA_VALIDAZIONE'], format='%d/%m/%Y %H:%M')

In [20]:
# Print the date of the first and last validation using both data and hour
print('First validation: ', df['DATA'].min(), df['ORA'].min())
print('Last validation: ', df['DATA'].max(), df['ORA'].max())

# Print the number of Serial numbers
print('Number of Serial numbers: ', df['SERIALE'].nunique())

# Print the number of validation (rows)
print('Number of validation: ', df.shape[0])

# Print the number of tickets
print('Number of tickets: ', df['DESCRIZIONE_TITOLO'].nunique())
# Print the number of titolo
print('Number of titolo: ', df['TITOLO'].nunique())
# TODO: why the number of unique TITOLO is different from the number of DESCRIZIONE_TITOLO?

# Print the number of FERMATA
print('Number of FERMATA: ', df['FERMATA'].nunique())
# Print the number of DESCRIZIONE
print('Number of DESCRIZIONE: ', df['DESCRIZIONE'].nunique())
# TODO: why the number of unique DESCRIZIONE is different from the number of FERMATA?

First validation:  2018-09-11 00:00:00 00:00:00
Last validation:  2018-11-12 00:00:00 23:59:00
Number of Serial numbers:  1751985
Number of validation:  4876778
Number of tickets:  161
Number of titolo:  163
Number of FERMATA:  1672
Number of DESCRIZIONE:  892

In [21]:
# Which is the most used ticket?
df['DESCRIZIONE_TITOLO'].value_counts().head(10)

24h-Tpl 14,90-Com.Ve5,10         1247921
75'-Tpl 6,30-ComVe1,20            670822
48h-Tpl 24,90-ComVe5,10           655150
72h-Tpl 33,40-ComVe6,60           497555
Bigl.Aut.75'Mestre/Lido-tsc       343933
7gg-Tpl 43,60-ComVe16,40          255210
75'-Tpl 12,60-ComVe2,40           197263
Biglietto 72 ore Roll. Venice     185833
72ore online no aerobus            97343
7 days online no aerobus           58437
Name: DESCRIZIONE_TITOLO, dtype: int64

In [22]:
# Which is the most frequent validation in date and hour?
# Date and hour are in two different columns; DATA_VALIDAZIONE does not exist anymore
df.groupby(['DATA', 'ORA'])['SERIALE'].count().sort_values(ascending=False).head(10)
# TODO: #4 Re-aswer the question of the most frequent validation after cleaning operations

DATA        ORA
2018-10-31  03:49:00    433
2018-09-29  17:32:00    279
2018-10-13  15:26:00    276
2018-09-30  10:45:00    274
2018-09-29  17:31:00    270
            10:59:00    269
2018-10-05  17:27:00    262
2018-09-29  15:00:00    260
2018-10-07  15:26:00    255
2018-09-30  10:42:00    252
Name: SERIALE, dtype: int64

In [23]:
# Which is the most frequent FERMATA?
df['DESCRIZIONE'].value_counts().head(10)
# TODO: #4 Re-aswer the question of the most frequent FERMATA after cleaning operations

S. Zaccaria     571024
P.le Roma (S    384088
Burano SX pe    268820
Rialto "D"      268088
Ferrovia "B"    210685
Lido (S.M.E.    200945
Murano Faro     194918
S. Marco (Va    136302
S. MARCO (Gi    129633
Ferrovia "D"    125424
Name: DESCRIZIONE, dtype: int64

## Data Cleaning

### Useless stamps

In [24]:
# Reset the index of the df and drop the old index in order to have a new index starting from 0 to the number of rows
# It is necessary to have a new index because the groupby function has created a multi-index
df.reset_index(drop=True, inplace=True)

In [25]:
# Create a new column 'MIN_TEMPORAL_GAP' that contains the minimum temporal gap between two validations for the same serial and fermata in minutes
df = df.groupby(['SERIALE','DATA', 'DESCRIZIONE']).apply(lambda x: x.assign(MIN_TEMPORAL_GAP = x['DATA_VALIDAZIONE'].diff().dt.total_seconds()/60))

In [26]:
df.head(20)

,DATA,ORA,DATA_VALIDAZIONE,SERIALE,FERMATA,DESCRIZIONE,TITOLO,DESCRIZIONE_TITOLO,MIN_TEMPORAL_GAP
0,2018-09-11,00:01:00,2018-09-11 00:01:00,65676329393943813,1392,Santa Chiara,12101,Bigl.Aut.75'Mestre/Lido-tsc,NaN
1,2018-09-11,00:01:00,2018-09-11 00:01:00,36412970881802500,5003,Lido (S.M.E.,11109,Biglietto 72 ore Roll. Venice,NaN
2,2018-09-11,00:01:00,2018-09-11 00:01:00,36412970881806084,5003,Lido (S.M.E.,11107,"48h-Tpl 24,90-ComVe5,10",NaN
3,2018-09-11,00:01:00,2018-09-11 00:01:00,36412970881805828,5003,Lido (S.M.E.,11107,"48h-Tpl 24,90-ComVe5,10",NaN
4,2018-09-11,00:01:00,2018-09-11 00:01:00,65676744198028549,5013,S. Zaccaria,11107,"48h-Tpl 24,90-ComVe5,10",NaN
5,2018-09-11,00:01:00,2018-09-11 00:01:00,65676882990430725,5013,S. Zaccaria,11107,"48h-Tpl 24,90-ComVe5,10",NaN
6,2018-09-11,00:01:00,2018-09-11 00:01:00,65676882990430725,5013,S. Zaccaria,11107,"48h-Tpl 24,90-ComVe5,10",0.0
7,2018-09-11,00:01:00,2018-09-11 00:01:00,65676882990430725,5013,S. Zaccaria,11107,"48h-Tpl 24,90-ComVe5,10",0.0
8,2018-09-11,00:01:00,2018-09-11 00:01:00,65676348342500357,5022,Giudecca Pal,11105,"24h-Tpl 14,90-Com.Ve5,10",NaN
9,2018-09-11,00:02:00,2018-09-11 00:02:00,65676348342501125,5022,Giudecca Pal,11105,"24h-Tpl 14,90-Com.Ve5,10",NaN
10,2018-09-11,00:03:00,2018-09-11 00:03:00,36407862281569796,5031,P.le Roma (S,11108,"72h-Tpl 33,40-ComVe6,60",NaN
11,2018-09-11,00:03:00,2018-09-11 00:03:00,36066283946482692,5029,P.le Roma (P,5,"75'-Tpl 6,30-ComVe1,20",NaN
12,2018-09-11,00:03:00,2018-09-11 00:03:00,36130337066589956,506,CORSIA A1,12101,Bigl.Aut.75'Mestre/Lido-tsc,NaN
13,2018-09-11,00:03:00,2018-09-11 00:03:00,36130337066590468,506,CORSIA A1,12101,Bigl.Aut.75'Mestre/Lido-tsc,NaN
14,2018-09-11,00:03:00,2018-09-11 00:03:00,65676882541114117,506,CORSIA A1,11108,"72h-Tpl 33,40-ComVe6,60",NaN
15,2018-09-11,00:03:00,2018-09-11 00:03:00,65676882541114629,506,CORSIA A1,11108,"72h-Tpl 33,40-ComVe6,60",NaN
16,2018-09-11,00:03:00,2018-09-11 00:03:00,65676951568416261,506,CORSIA A1,11105,"24h-Tpl 14,90-Com.Ve5,10",NaN
17,2018-09-11,00:03:00,2018-09-11 00:03:00,65676951571560453,506,CORSIA A1,11105,"24h-Tpl 14,90-Com.Ve5,10",NaN
18,2018-09-11,00:03:00,2018-09-11 00:03:00,36130337066590212,506,CORSIA A1,12101,Bigl.Aut.75'Mestre/Lido-tsc,NaN
19,2018-09-11,00:03:00,2018-09-11 00:03:00,36130337066605060,506,CORSIA A1,12101,Bigl.Aut.75'Mestre/Lido-tsc,NaN

In [27]:
df.tail(20)

,DATA,ORA,DATA_VALIDAZIONE,SERIALE,FERMATA,DESCRIZIONE,TITOLO,DESCRIZIONE_TITOLO,MIN_TEMPORAL_GAP
4876758,2018-11-11,23:52:00,2018-11-11 23:52:00,36131496707395332,5013,S. Zaccaria,11105,"24h-Tpl 14,90-Com.Ve5,10",NaN
4876759,2018-11-11,23:52:00,2018-11-11 23:52:00,36131496708692996,5031,P.le Roma (S,11101,"75'-Tpl 6,30-ComVe1,20",NaN
4876760,2018-11-11,23:53:00,2018-11-11 23:53:00,36412971680141572,5031,P.le Roma (S,11107,"48h-Tpl 24,90-ComVe5,10",NaN
4876761,2018-11-11,23:53:00,2018-11-11 23:53:00,36131496703489540,5031,P.le Roma (S,11107,"48h-Tpl 24,90-ComVe5,10",NaN
4876762,2018-11-11,23:53:00,2018-11-11 23:53:00,36131496703489540,5031,P.le Roma (S,11107,"48h-Tpl 24,90-ComVe5,10",0.0
4876763,2018-11-11,23:53:00,2018-11-11 23:53:00,65677030511899397,5053,S. Marco (Va,11241,"7ggAerAR-Tpl55,6-CVe16,4",NaN
4876764,2018-11-11,23:53:00,2018-11-11 23:53:00,36412971680138756,5031,P.le Roma (S,11107,"48h-Tpl 24,90-ComVe5,10",NaN
4876765,2018-11-11,23:53:00,2018-11-11 23:53:00,36412971680138500,5031,P.le Roma (S,11107,"48h-Tpl 24,90-ComVe5,10",NaN
4876766,2018-11-11,23:53:00,2018-11-11 23:53:00,36412971680138756,5031,P.le Roma (S,11107,"48h-Tpl 24,90-ComVe5,10",0.0
4876767,2018-11-11,23:54:00,2018-11-11 23:54:00,65676624064772869,5013,S. Zaccaria,11108,"72h-Tpl 33,40-ComVe6,60",NaN
4876768,2018-11-11,23:54:00,2018-11-11 23:54:00,36120397166593796,5038,"Rialto ""D""",11149,"7gg-Tpl 43,60-ComVe16,40",NaN
4876769,2018-11-11,23:55:00,2018-11-11 23:55:00,65677036308364037,5013,S. Zaccaria,11105,"24h-Tpl 14,90-Com.Ve5,10",NaN
4876770,2018-11-11,23:55:00,2018-11-11 23:55:00,65677036580532485,5013,S. Zaccaria,11105,"24h-Tpl 14,90-Com.Ve5,10",NaN
4876771,2018-11-11,23:56:00,2018-11-11 23:56:00,65676693359261445,5038,"Rialto ""D""",11108,"72h-Tpl 33,40-ComVe6,60",NaN
4876772,2018-11-11,23:56:00,2018-11-11 23:56:00,36120397166593796,5038,"Rialto ""D""",11149,"7gg-Tpl 43,60-ComVe16,40",2.0
4876773,2018-11-11,23:56:00,2018-11-11 23:56:00,36120397166597124,5038,"Rialto ""D""",11149,"7gg-Tpl 43,60-ComVe16,40",NaN
4876774,2018-11-11,23:59:00,2018-11-11 23:59:00,65676690164248581,5049,Zattere SX,11109,Biglietto 72 ore Roll. Venice,NaN
4876775,2018-11-12,00:53:00,2018-11-12 00:53:00,36088796950622980,510,CORSIA A5,200,bordo multip BUS urb. autisti,NaN
4876776,2018-11-12,00:53:00,2018-11-12 00:53:00,36088796950754052,510,CORSIA A5,200,bordo multip BUS urb. autisti,NaN
4876777,2018-11-12,02:48:00,2018-11-12 02:48:00,36088796951081732,510,CORSIA A5,200,bordo multip BUS urb. autisti,NaN

In [28]:
df['MIN_TEMPORAL_GAP'].value_counts()

0.0       205542
1.0        49242
2.0        32554
3.0        21626
4.0        15817
5.0        11978
6.0         9342
7.0         7299
8.0         5981
9.0         4822
10.0        3913
11.0        3164
12.0        2672
13.0        2430
14.0        1937
15.0        1783
16.0        1554
17.0        1348
18.0        1065
20.0        1018
19.0        1004
21.0         890
22.0         722
23.0         666
24.0         609
25.0         584
26.0         546
27.0         521
28.0         484
29.0         440
165.0        416
30.0         412
211.0        405
218.0        398
190.0        398
178.0        397
187.0        397
154.0        395
167.0        394
277.0        393
229.0        392
199.0        390
188.0        389
200.0        389
239.0        387
215.0        385
296.0        385
220.0        384
198.0        384
284.0        384
204.0        384
263.0        384
261.0        383
224.0        381
287.0        380
214.0        380
186.0        380
175.0        379
150.0        379
213.0        377
259.0        377
202.0        376
180.0        374
334.0        374
233.0        372
179.0        372
203.0        372
300.0        372
166.0        371
221.0        371
322.0        370
267.0        370
196.0        370
173.0        370
31.0         370
205.0        369
174.0        369
257.0        369
291.0        367
264.0        367
231.0        367
236.0        367
151.0        367
324.0        367
170.0        365
254.0        365
237.0        365
207.0        365
289.0        364
160.0        362
223.0        362
212.0        361
255.0        360
189.0        359
158.0        359
201.0        359
169.0        359
36.0         358
177.0        358
195.0        358
301.0        357
176.0        357
168.0        357
278.0        356
295.0        355
232.0        355
260.0        353
208.0        353
194.0        350
240.0        349
140.0        349
219.0        349
270.0        349
162.0        348
139.0        348
242.0        348
197.0        347
251.0        347
230.0        347
226.0        346
268.0        345
133.0        345
181.0        345
210.0        345
269.0        344
302.0        343
228.0        342
217.0        341
146.0        341
271.0        340
206.0        340
294.0        339
298.0        339
234.0        338
136.0        338
185.0        338
161.0        338
248.0        338
142.0        337
32.0         337
351.0        336
370.0        335
164.0        335
216.0        335
331.0        335
183.0        335
222.0        334
283.0        334
35.0         334
98.0         333
321.0        332
193.0        331
33.0         331
266.0        330
335.0        330
288.0        330
157.0        329
244.0        328
339.0        328
341.0        328
144.0        328
131.0        328
191.0        327
310.0        327
235.0        327
253.0        327
281.0        327
155.0        327
115.0        326
243.0        326
245.0        325
299.0        325
285.0        325
141.0        324
247.0        324
279.0        324
313.0        323
250.0        323
137.0        322
359.0        321
303.0        321
258.0        320
307.0        319
172.0        319
153.0        319
354.0        318
171.0        318
369.0        318
304.0        318
238.0        318
276.0        318
249.0        317
252.0        317
225.0        316
338.0        316
135.0        316
274.0        316
149.0        316
286.0        316
241.0        316
306.0        316
163.0        316
325.0        315
182.0        314
227.0        314
292.0        314
273.0        313
138.0        313
159.0        312
318.0        312
349.0        312
156.0        311
345.0        311
97.0         310
358.0        310
367.0        310
73.0         309
55.0         308
329.0        306
192.0        306
314.0        305
246.0        305
342.0        303
346.0        303
37.0         303
311.0        302
323.0        302
117.0        302
327.0        302
129.0        301
209.0        301
312.0        301
272.0        301
127.0        300
111.0        300
371.0        299
380.0        299
297.0        299
446.0        298
332.0        298
134.0        297
309.0        297
356.0        297
363.0        296
262.0        295
343.0        295
39.0         295
319.0        295
353.0        294
152.0        294
293.0        293
347.0        293
308.0        293
256.0        293
320.0        292
96.0         292
402.0        292
316.0        291
34.0         291
99.0         291
143.0        291
442.0        291
333.0        290
79.0         290
66.0         290
355.0        290
100.0        290
265.0        288
280.0        287
399.0        287
122.0        287
326.0        287
148.0        287
328.0        287
365.0        286
305.0        286
103.0        285
91.0         285
330.0        285
110.0        285
41.0         284
397.0        284
184.0        283
282.0        283
145.0        283
360.0        282
102.0        282
62.0         282
116.0        282
375.0        282
417.0        281
393.0        280
398.0        280
348.0        280
433.0        279
121.0        279
336.0        279
76.0         278
77.0         278
400.0        278
352.0        278
466.0        278
108.0        277
123.0        277
61.0         277
90.0         277
113.0        277
114.0        276
71.0         276
63.0         275
60.0         275
290.0        275
147.0        275
384.0        275
377.0        275
390.0        275
275.0        274
59.0         274
50.0         274
315.0        274
120.0        273
383.0        273
420.0        273
344.0        273
357.0        272
132.0        272
389.0        271
379.0        270
350.0        270
491.0        270
451.0        270
64.0         269
317.0        269
128.0        269
403.0        268
409.0        267
381.0        267
68.0         266
387.0        266
366.0        266
94.0         266
119.0        265
87.0         265
372.0        265
52.0         265
105.0        264
104.0        264
54.0         264
391.0        264
432.0        263
444.0        263
385.0        263
374.0        262
101.0        262
67.0         262
364.0        261
92.0         261
125.0        261
47.0         260
130.0        260
361.0        260
382.0        259
44.0         259
373.0        259
106.0        259
455.0        259
69.0         258
392.0        258
411.0        258
388.0        258
84.0         257
480.0        257
93.0         257
124.0        257
340.0        257
70.0         257
430.0        257
95.0         256
112.0        256
394.0        256
38.0         256
386.0        256
88.0         255
396.0        255
81.0         254
118.0        254
376.0        254
80.0         254
415.0        254
42.0         253
368.0        253
479.0        252
445.0        252
436.0        252
89.0         251
406.0        251
40.0         251
57.0         251
427.0        250
422.0        250
72.0         250
107.0        249
378.0        249
53.0         248
58.0         247
46.0         247
362.0        247
418.0        247
414.0        247
464.0        247
419.0        247
413.0        246
425.0        244
51.0         244
426.0        244
410.0        243
476.0        242
407.0        242
461.0        242
490.0        242
475.0        241
465.0        241
443.0        241
75.0         241
395.0        240
43.0         240
423.0        240
441.0        240
431.0        240
412.0        239
483.0        239
49.0         239
449.0        238
469.0        237
493.0        237
471.0        237
470.0        236
126.0        236
337.0        236
468.0        236
424.0        236
56.0         235
408.0        235
429.0        235
65.0         235
458.0        234
78.0         234
85.0         233
509.0        233
401.0        231
439.0        231
437.0        230
434.0        230
404.0        230
109.0        229
472.0        229
448.0        228
484.0        228
452.0        227
82.0         226
528.0        226
416.0        226
74.0         225
435.0        225
405.0        225
499.0        224
520.0        223
456.0        223
527.0        222
48.0         222
467.0        222
428.0        220
492.0        219
450.0        217
505.0        216
477.0        216
86.0         215
462.0        213
486.0        213
453.0        213
440.0        212
515.0        211
543.0        211
511.0        208
498.0        208
45.0         207
474.0        207
487.0        207
536.0        206
508.0        205
530.0        205
459.0        204
500.0        204
457.0        204
460.0        204
83.0         203
510.0        203
481.0        203
518.0        202
421.0        202
496.0        202
542.0        200
495.0        199
521.0        198
497.0        198
454.0        198
570.0        198
478.0        197
537.0        197
506.0        197
512.0        197
541.0        197
504.0        196
488.0        196
438.0        195
540.0        194
489.0        194
516.0        193
533.0        193
463.0        193
522.0        190
553.0        190
538.0        189
513.0        189
539.0        188
482.0        188
555.0        188
517.0        187
485.0        186
561.0        185
526.0        182
532.0        181
501.0        180
531.0        180
534.0        180
502.0        180
494.0        179
447.0        178
545.0        178
519.0        177
567.0        177
529.0        177
550.0        175
563.0        175
580.0        174
514.0        173
507.0        173
564.0        171
473.0        171
559.0        171
523.0        170
578.0        169
524.0        166
503.0        164
554.0        164
551.0        163
525.0        162
581.0        162
535.0        160
566.0        159
558.0        157
568.0        154
562.0        154
556.0        153
577.0        152
594.0        152
544.0        152
599.0        151
546.0        150
560.0        149
569.0        149
593.0        148
601.0        146
549.0        146
583.0        145
552.0        144
547.0        143
597.0        143
573.0        142
576.0        140
571.0        138
607.0        136
579.0        135
574.0        134
575.0        133
572.0        133
589.0        133
592.0        132
548.0        132
565.0        131
600.0        128
605.0        128
598.0        127
591.0        125
588.0        125
590.0        124
587.0        124
633.0        124
584.0        123
613.0        123
626.0        122
595.0        119
582.0        119
606.0        118
557.0        117
586.0        117
585.0        116
625.0        115
596.0        115
627.0        115
602.0        110
634.0        109
619.0        109
615.0        107
618.0        105
603.0        104
604.0        104
612.0        104
611.0        102
610.0         99
631.0         99
608.0         98
640.0         98
620.0         97
635.0         96
646.0         92
614.0         91
637.0         89
642.0         89
621.0         89
655.0         88
630.0         88
624.0         88
641.0         87
636.0         86
648.0         85
616.0         84
617.0         84
657.0         83
650.0         83
647.0         81
632.0         80
656.0         80
649.0         78
643.0         78
639.0         76
628.0         75
609.0         75
644.0         75
669.0         73
659.0         73
652.0         71
629.0         70
677.0         70
666.0         70
654.0         69
645.0         69
623.0         68
671.0         67
622.0         65
658.0         65
673.0         64
653.0         64
668.0         61
667.0         60
670.0         59
684.0         59
674.0         59
664.0         59
651.0         59
693.0         58
679.0         56
665.0         56
672.0         56
638.0         56
660.0         55
691.0         55
661.0         53
662.0         53
678.0         52
687.0         52
686.0         51
733.0         50
688.0         50
689.0         50
676.0         49
694.0         48
698.0         48
663.0         47
697.0         45
680.0         44
692.0         44
681.0         44
715.0         43
702.0         42
675.0         42
695.0         42
701.0         41
711.0         40
682.0         40
703.0         39
727.0         39
718.0         38
728.0         37
708.0         36
716.0         35
696.0         35
683.0         35
690.0         35
722.0         35
685.0         34
719.0         32
742.0         32
700.0         32
706.0         32
705.0         31
712.0         30
717.0         30
731.0         30
710.0         29
748.0         29
714.0         29
730.0         29
707.0         28
745.0         28
699.0         28
709.0         27
729.0         27
732.0         27
720.0         27
780.0         27
723.0         27
734.0         26
737.0         26
735.0         25
758.0         25
743.0         25
738.0         25
704.0         25
721.0         24
725.0         23
726.0         23
755.0         22
766.0         22
749.0         21
781.0         21
757.0         20
767.0         20
744.0         20
739.0         19
761.0         19
764.0         19
750.0         19
756.0         18
818.0         17
773.0         17
788.0         17
771.0         16
837.0         16
746.0         16
740.0         15
754.0         15
815.0         15
713.0         15
799.0         15
736.0         15
769.0         15
753.0         15
724.0         14
763.0         13
768.0         13
801.0         13
800.0         12
1427.0        12
759.0         12
822.0         11
751.0         11
1437.0        11
838.0         11
770.0         11
812.0         11
775.0         11
752.0         11
783.0         10
985.0         10
804.0         10
782.0         10
797.0         10
779.0         10
765.0         10
1039.0        10
741.0         10
830.0         10
811.0         10
1030.0        10
1010.0        10
772.0          9
791.0          9
853.0          9
864.0          9
1097.0         9
1415.0         9
798.0          9
786.0          9
1436.0         9
803.0          9
1431.0         8
789.0          8
794.0          8
785.0          8
1021.0         7
1040.0         7
1034.0         7
820.0          7
795.0          7
1429.0         7
807.0          7
784.0          7
778.0          7
802.0          7
774.0          7
747.0          7
1038.0         7
777.0          7
817.0          7
787.0          7
760.0          7
1155.0         6
1033.0         6
810.0          6
1076.0         6
1180.0         6
1159.0         6
1086.0         6
917.0          6
819.0          6
1422.0         6
1428.0         6
813.0          6
847.0          6
953.0          6
828.0          6
1012.0         6
1078.0         6
793.0          6
926.0          6
944.0          6
1090.0         6
945.0          6
872.0          5
915.0          5
1077.0         5
776.0          5
845.0          5
1051.0         5
996.0          5
909.0          5
1088.0         5
1105.0         5
884.0          5
796.0          5
1432.0         5
1046.0         5
988.0          5
1052.0         5
1132.0         5
1106.0         5
792.0          5
1042.0         5
1379.0         5
889.0          5
826.0          5
1055.0         5
879.0          5
824.0          5
839.0          5
1027.0         5
865.0          5
938.0          5
887.0          5
992.0          5
841.0          5
1148.0         5
883.0          5
805.0          5
934.0          5
1015.0         5
762.0          5
862.0          5
821.0          5
856.0          5
1069.0         5
806.0          5
1433.0         5
871.0          4
927.0          4
898.0          4
1423.0         4
1356.0         4
1131.0         4
860.0          4
1056.0         4
1343.0         4
936.0          4
834.0          4
1158.0         4
1426.0         4
1157.0         4
861.0          4
1145.0         4
1418.0         4
1011.0         4
1083.0         4
1186.0         4
995.0          4
1000.0         4
823.0          4
1003.0         4
857.0          4
1031.0         4
1354.0         4
814.0          4
1053.0         4
1009.0         4
1101.0         4
1125.0         4
1424.0         4
933.0          4
1024.0         4
1196.0         4
923.0          4
1064.0         4
921.0          4
1062.0         4
899.0          4
1002.0         4
968.0          4
1081.0         4
1047.0         4
1181.0         4
1255.0         4
1037.0         4
808.0          4
1049.0         4
1071.0         4
1438.0         4
1217.0         4
870.0          4
1102.0         3
1118.0         3
905.0          3
1107.0         3
1380.0         3
1020.0         3
941.0          3
1134.0         3
1006.0         3
955.0          3
878.0          3
1197.0         3
844.0          3
1434.0         3
1376.0         3
1416.0         3
1013.0         3
890.0          3
946.0          3
790.0          3
877.0          3
1172.0         3
954.0          3
895.0          3
930.0          3
908.0          3
882.0          3
956.0          3
981.0          3
997.0          3
1023.0         3
846.0          3
1174.0         3
1032.0         3
848.0          3
989.0          3
976.0          3
929.0          3
1146.0         3
1091.0         3
1419.0         3
1058.0         3
1421.0         3
1218.0         3
960.0          3
1417.0         3
1133.0         3
924.0          3
894.0          3
1228.0         3
1168.0         3
1243.0         3
1383.0         3
964.0          3
900.0          3
881.0          3
863.0          3
994.0          3
1142.0         3
1170.0         3
916.0          3
920.0          3
1149.0         3
974.0          3
1070.0         3
831.0          3
958.0          3
1199.0         3
1004.0         3
1127.0         3
1060.0         3
990.0          3
1022.0         3
1381.0         3
1400.0         3
849.0          2
1399.0         2
1192.0         2
1205.0         2
1089.0         2
1250.0         2
935.0          2
959.0          2
1167.0         2
1338.0         2
1095.0         2
1147.0         2
931.0          2
940.0          2
1230.0         2
1068.0         2
901.0          2
873.0          2
919.0          2
1075.0         2
950.0          2
1079.0         2
1128.0         2
1045.0         2
973.0          2
891.0          2
952.0          2
1087.0         2
1184.0         2
1082.0         2
1026.0         2
1178.0         2
1323.0         2
1321.0         2
1161.0         2
1173.0         2
1191.0         2
851.0          2
1111.0         2
1050.0         2
984.0          2
937.0          2
1114.0         2
809.0          2
885.0          2
1043.0         2
876.0          2
1029.0         2
1073.0         2
942.0          2
986.0          2
832.0          2
1188.0         2
1253.0         2
850.0          2
999.0          2
907.0          2
816.0          2
1124.0         2
1365.0         2
1190.0         2
1001.0         2
932.0          2
1413.0         2
859.0          2
866.0          2
897.0          2
1048.0         2
827.0          2
977.0          2
1435.0         2
1236.0         2
1007.0         2
998.0          2
829.0          2
852.0          2
1412.0         2
1152.0         2
1410.0         2
1341.0         2
902.0          2
1141.0         2
1143.0         2
1061.0         2
1260.0         2
903.0          2
1377.0         2
1171.0         2
1411.0         2
892.0          2
1028.0         2
1306.0         2
1066.0         2
1120.0         2
1430.0         2
1248.0         1
1325.0         1
1109.0         1
888.0          1
1311.0         1
1194.0         1
1309.0         1
1251.0         1
1200.0         1
1307.0         1
886.0          1
1065.0         1
1340.0         1
1211.0         1
1405.0         1
1406.0         1
1014.0         1
925.0          1
1216.0         1
1025.0         1
1206.0         1
1420.0         1
987.0          1
1401.0         1
1282.0         1
912.0          1
1390.0         1
1283.0         1
1330.0         1
1280.0         1
1278.0         1
1247.0         1
1150.0         1
963.0          1
1264.0         1
1261.0         1
1016.0         1
957.0          1
854.0          1
966.0          1
1389.0         1
842.0          1
1439.0         1
1225.0         1
1017.0         1
991.0          1
1396.0         1
967.0          1
1166.0         1
914.0          1
1008.0         1
1368.0         1
1369.0         1
1187.0         1
1252.0         1
1292.0         1
1286.0         1
1041.0         1

In [29]:
# How many rows have a minimum temporal gap equal to NaN?
df[df['MIN_TEMPORAL_GAP'].isna()].shape[0]

4319347

In [30]:
# Cleaning operation: remove the rows using the minimum temporal gap

# Find a reasonable delta of MIN_TEMPORAL_GAP to remove the rows that have a minimum temporal gap for the same serial and fermata less than this delta
# Print the minimum value of the column MIN_TEMPORAL_GAP
print('The minimum value of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].min()))

# Print the maximum value of the column MIN_TEMPORAL_GAP
print('The maximum value of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].max()))

# Print the mean value of the column MIN_TEMPORAL_GAP
print('The mean value of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].mean()))

# Print the median value of the column MIN_TEMPORAL_GAP
print('The median value of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].median()))

# Print the standard deviation of the column MIN_TEMPORAL_GAP
print('The standard deviation of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].std()))

# Print the 0.05th percentile of the column MIN_TEMPORAL_GAP
print('The 0.05th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.05)))

# Print the 0.10th percentile of the column MIN_TEMPORAL_GAP
print('The 0.10th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.10)))

# Print the 25th percentile of the column MIN_TEMPORAL_GAP
print('The 25th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.25)))

# Print the 75th percentile of the column MIN_TEMPORAL_GAP
print('The 75th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.75)))

# Print the 90th percentile of the column MIN_TEMPORAL_GAP
print('The 90th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.90)))

# Print the 95th percentile of the column MIN_TEMPORAL_GAP
print('The 95th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.95)))

# Print the 99th percentile of the column MIN_TEMPORAL_GAP
print('The 99th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.99)))

# Print the 99.9th percentile of the column MIN_TEMPORAL_GAP
print('The 99.9th percentile of the column MIN_TEMPORAL_GAP is: {}'.format(df['MIN_TEMPORAL_GAP'].quantile(0.999)))

# Decide the delta of MIN_TEMPORAL_GAP to remove the rows that have a minimum temporal gap for the same serial and fermata less than this delta
delta = df['MIN_TEMPORAL_GAP'].quantile(0.1)
if delta == 0:
    delta = df['MIN_TEMPORAL_GAP'].quantile(0.25)
if delta == 0:
    delta = df['MIN_TEMPORAL_GAP'].median()
print('The delta of MIN_TEMPORAL_GAP is: {}'.format(delta))

The minimum value of the column MIN_TEMPORAL_GAP is: 0.0
The maximum value of the column MIN_TEMPORAL_GAP is: 1439.0
The mean value of the column MIN_TEMPORAL_GAP is: 95.4028516533885
The median value of the column MIN_TEMPORAL_GAP is: 2.0
The standard deviation of the column MIN_TEMPORAL_GAP is: 174.67081185859826
The 0.05th percentile of the column MIN_TEMPORAL_GAP is: 0.0
The 0.10th percentile of the column MIN_TEMPORAL_GAP is: 0.0
The 25th percentile of the column MIN_TEMPORAL_GAP is: 0.0
The 75th percentile of the column MIN_TEMPORAL_GAP is: 127.0
The 90th percentile of the column MIN_TEMPORAL_GAP is: 382.0
The 95th percentile of the column MIN_TEMPORAL_GAP is: 499.0
The 99th percentile of the column MIN_TEMPORAL_GAP is: 658.0
The 99.9th percentile of the column MIN_TEMPORAL_GAP is: 1052.0
The delta of MIN_TEMPORAL_GAP is: 2.0

In [31]:
# Cleaning operation: remove the rows using the minimum temporal gap

# Save the number of rows before the cleaning operation
shape_before = df.shape[0]

# Delete the rows that have a minimum temporal gap for the same serial and fermata more than the delta calculated before.
# Do not remove the rows with NaN values because they are the first validations of the day of a specific serial and fermata usefull for the analysis
df = df[(df['MIN_TEMPORAL_GAP'] > delta) | (df['MIN_TEMPORAL_GAP'].isna())]

# Print the number of rows before and after the cleaning operation and the difference
print('The number of rows before the cleaning operation is: {}'.format(shape_before))
print('The number of rows after the cleaning operation is: {}'.format(df.shape[0]))
print('The difference is: {}'.format(shape_before - df.shape[0]))
# Calculate the percentage of rows that has just been deleted
print('The percentage of rows that has just been deleted is: {}%'.format(round((shape_before - df.shape[0])/shape_before*100, 2)))

The number of rows before the cleaning operation is: 4876778
The number of rows after the cleaning operation is: 4589440
The difference is: 287338
The percentage of rows that has just been deleted is: 5.89%

In [32]:
# Delete the column MIN_TEMPORAL_GAP because it is not useful anymore
df.drop('MIN_TEMPORAL_GAP', axis=1, inplace=True)

In [33]:
# Create a new dataframe, copied from the original one
df_new = df.copy() 

# Print the head of the new dataframe
print(df_new.head())

# Export the new dataframe in a txt file
# The name of the file is dataset_cleaned followed by the name (file_name variable) of the file that has been cleaned with txt extension
name_file = 'dataset_cleaned_temp' + file_name.split('.')[0] + '.txt'
df_new.to_csv('data/processed/' + name_file, sep='\t', index=False)

print('The script has finished')

        DATA       ORA    DATA_VALIDAZIONE            SERIALE  FERMATA  \
0 2018-09-11  00:01:00 2018-09-11 00:01:00  65676329393943813     1392
1 2018-09-11  00:01:00 2018-09-11 00:01:00  36412970881802500     5003
2 2018-09-11  00:01:00 2018-09-11 00:01:00  36412970881806084     5003
3 2018-09-11  00:01:00 2018-09-11 00:01:00  36412970881805828     5003
4 2018-09-11  00:01:00 2018-09-11 00:01:00  65676744198028549     5013

    DESCRIZIONE  TITOLO             DESCRIZIONE_TITOLO
0  Santa Chiara   12101    Bigl.Aut.75'Mestre/Lido-tsc
1  Lido (S.M.E.   11109  Biglietto 72 ore Roll. Venice
2  Lido (S.M.E.   11107        48h-Tpl 24,90-ComVe5,10
3  Lido (S.M.E.   11107        48h-Tpl 24,90-ComVe5,10
4  S. Zaccaria    11107        48h-Tpl 24,90-ComVe5,10
The script has finished

In [38]:
df_cleaned = pd.read_csv("data/processed/dataset_cleaned_tempexport.txt", header=0, sep='\t')
print(df_cleaned.head())
print(df_cleaned.columns)
# Remove the column 'DATA and 'ORA' because they are not useful anymore
df_cleaned.drop(['DATA', 'ORA'], axis=1, inplace=True)
print(df_cleaned.head())
print(df_cleaned.columns)

         DATA       ORA     DATA_VALIDAZIONE            SERIALE  FERMATA  \
0  2018-09-11  00:01:00  2018-09-11 00:01:00  65676329393943813     1392
1  2018-09-11  00:01:00  2018-09-11 00:01:00  36412970881802500     5003
2  2018-09-11  00:01:00  2018-09-11 00:01:00  36412970881806084     5003
3  2018-09-11  00:01:00  2018-09-11 00:01:00  36412970881805828     5003
4  2018-09-11  00:01:00  2018-09-11 00:01:00  65676744198028549     5013

    DESCRIZIONE  TITOLO             DESCRIZIONE_TITOLO
0  Santa Chiara   12101    Bigl.Aut.75'Mestre/Lido-tsc
1  Lido (S.M.E.   11109  Biglietto 72 ore Roll. Venice
2  Lido (S.M.E.   11107        48h-Tpl 24,90-ComVe5,10
3  Lido (S.M.E.   11107        48h-Tpl 24,90-ComVe5,10
4  S. Zaccaria    11107        48h-Tpl 24,90-ComVe5,10
Index(['DATA', 'ORA', 'DATA_VALIDAZIONE', 'SERIALE', 'FERMATA', 'DESCRIZIONE',
       'TITOLO', 'DESCRIZIONE_TITOLO'],
      dtype='object')
      DATA_VALIDAZIONE            SERIALE  FERMATA   DESCRIZIONE  TITOLO  \
0  2018-09-11 00:01:00  65676329393943813     1392  Santa Chiara   12101
1  2018-09-11 00:01:00  36412970881802500     5003  Lido (S.M.E.   11109
2  2018-09-11 00:01:00  36412970881806084     5003  Lido (S.M.E.   11107
3  2018-09-11 00:01:00  36412970881805828     5003  Lido (S.M.E.   11107
4  2018-09-11 00:01:00  65676744198028549     5013  S. Zaccaria    11107

              DESCRIZIONE_TITOLO
0    Bigl.Aut.75'Mestre/Lido-tsc
1  Biglietto 72 ore Roll. Venice
2        48h-Tpl 24,90-ComVe5,10
3        48h-Tpl 24,90-ComVe5,10
4        48h-Tpl 24,90-ComVe5,10
Index(['DATA_VALIDAZIONE', 'SERIALE', 'FERMATA', 'DESCRIZIONE', 'TITOLO',
       'DESCRIZIONE_TITOLO'],
      dtype='object')

In [39]:
name_file = 'dataset_cleaned_temp' + file_name.split('.')[0] + '.txt'
df_cleaned.to_csv('data/processed/' + name_file, sep='\t', index=False)

print('The script has finished')

The script has finished